<% if @watchlist.empty? %>
	<p>your watchlist is empty, go add some movies</p>
<%else %>
	<% @watchlist.each do |movie| %>
		<%= movie.name %>
		<%= movie.description %>
		<%= image_tag movie.movie_image.to_s %>
	<% end %>
<% end %>